.search-Container{

    display: flex;
   
}


.search-input input{

    height: 40px;
    border-radius: 5px;
    width: 300px;
    border: 2px solid black;
}


.search-input input :hover{

    height: 40px;
    border-radius: 5px;
    width: 300px;
    border: 2px solid rgb(241, 8, 8);
}


.search-button button{


    height: 40px;
    border-radius: 5px;
    width: 100px;
    border: 2px solid rgb(47, 45, 45);

}